.container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;


}
.login-container  ul{
    list-style: none !important;
}
.login-container  ul li{
    background-color: rgb(175, 6, 6) !important;
    color: white !important;
    padding: 5px;
    width: fit-content;
    border-radius: 20px;
}

h2 {
    margin-bottom: 20px;
  
    width: fit-content;
    margin: 20px auto !important;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;

}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #218838;
}

.extra-links {
    margin-top: 15px;
}

.extra-links a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
.input-group input:focus{
    border:1px solid #28a745 !important;
}
